{
    "extends": ["@ackee/eslint-config", "prettier"],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js", ".jsx"]
            }
        },
        "polyfills": ["Object.fromEntries"]
    },
    "rules": {
        "no-restricted-globals": "off",
        "react/jsx-props-no-spreading": "off",
        "import/no-anonymous-default-export": "off"
    },
    "globals": {
        "chrome": true
    }
}
